body {
  font-family: 'DM Sans', sans-serif;
}

#intro {
  background: url('./assets/hero.svg') no-repeat center center/cover
}

a {
  text-decoration: none;
}


.moviesContainer>.row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.cardName {
  background: rgba(0, 0, 0, .7);
}